.list-head{
    display: flex;
    justify-content: space-between;
}
.head{
    display: inline-block;
}
.container-fluid{
    padding: 0 3em;
}

.add{
    height: 40px;
    color: white;
    background-color: rgba(7, 77, 54, 0.932);;
}

.genres {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  
  .genres li {
    position: relative;
    cursor: pointer;
  }
  
  .genres li:hover {
    left: .1em;
  }
  
  .genres a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .genres .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 3em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: white;
    color:  #525252;
    font-size: .9rem;
    padding: 1px 10px 3px 10px;
    border-radius: 15%;
  }
  
  button.delete:hover {
    background-color: #525252;
    color: white;
  }